<nav class="navbar navbar-expand-xl text-bg-info" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">The Sign Me Up App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLight"
      aria-controls="navbarLight"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse show" id="navbarLight">
      <!-- <ul class="navbar-nav mb-2">
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">User Portal</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
