<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header">Success !!</div>
      <div class="card-body">
        <h5 class="card-title">Welcome <%= user.name%>.</h5>
        <p class="card-text">
          Email: <%= user.email%><br />Password: <%= user.password%>
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <a class="card-link btn btn-info" href="/users">View All Users...</a>

        <form class="d-inline" action="/users/<%=user._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
